<div>
    <div class="list-group">

        <a href="#" class="list-group-item active">Mes informations</a>
        <a href="#" class="list-group-item">Mes factures</a>
        <a href="#" class="list-group-item">Mes adresses</a>
        <a href="{{ path('fos_user_profile_edit') }}" class="list-group-item">Editer mon profil</a>
    </div>
</div>
