<div>
    <!-- Small button group -->
    <div class="btn-group">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            3 produits - 55€ <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            ...
        </ul>
    </div>
    <h3>Nos Produits</h3>
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Légumes
        </a>
        <a href="#" class="list-group-item">Fruits</a>
        <a href="#" class="list-group-item">Autres</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Vestibulum at eros</a>
    </div>
</div>
