{%  extends "::layout/layout.html.twig" %}
    {% block body %}
        <div class="container">
            {% include '::modulesUsed/navigation.html.twig' %}

            <div class="row">
                <div class="col-md-3">
                    {% include "::modulesUsed/sidebar_1.html.twig" %}
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div><div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="..." alt="...">
                                <div class="caption">
                                    <h3>Thumbnail label</h3>
                                    <p>100€</p>
                                    <p><a href="#" class="btn btn-primary btn-sm" role="button">Plus d'infos</a> <a href="#" class="btn btn-success btn-sm" role="button">Ajouter au panier</a></p>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span aria-hidden="true">Précédent</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">Suivant</span>
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        {% include '::modulesUsed/footer.html.twig' %}
    {%  endblock %}
